<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,
initial-scale=1.0">
<title>Página Inicial</title>
<!-- Incluindo Bootstrap CSS -->
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.
min.css">
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
<a class="navbar-brand" href="/">Cinema</a>
<button class="navbar-toggler" type="button"
data-toggle="collapse" data-target="#navbarNav"
aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle
navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link text-light" href="/">Home</a>
</li>
<li class="nav-item">
<a class="nav-link Text-light" href="/filmes/">Filmes</a>
</li>
<li class="nav-item">
<a class="nav-link Text-light" href="/series/">Séries</a>
</li>
<li class="nav-item">
    <a class="nav-link Text-light" href="/episodios/">Episódios</a>
    </li>
<li class="nav-item">
<a class="nav-link Text-light" href="/generos/">Gêneros</a>
</li>
<li class="nav-item">
<a class="nav-link Text-light" href="/temporadas/">Temporadas</a>
</li>
<li class="nav-item">
<a class="nav-link Text-light" href="/elencos/">Elenco</a>
</li>
<li class="nav-item">
<a class="nav-link Text-light" href="/atuacoes/">Atuação</a>
</li>
<li class="nav-item">
<a class="nav-link Text-light"
href="/admin/">Administração</a>

</li>
</ul>
</div>
</nav>
<div class="container mt-5">
<div class="jumbotron text-center">
<h1 class="display-4">Olá, é bom te ver por aqui</h1>
<p class="lead">Esta é a página inicial do Cinema</p>
<p class="lead">Seja Bem Vindo(A)</p>
</div>
</div>
<div class="container mt-5">
    <table class="table bg-white">
    <thead>
    <tr>
    <th scope="col">Nome</th>
    <th scope="col">Duracao</th>
    <th scope="col">Sinopse</th>
    <th scope="col">Site Oficial</th>
    <th scope="col">Data de Lançamento</th>
    <th scope="col">Nota de Avaliação</th>
    <th scope="col">Gênero</th>
    <th scope="col">País</th>
    <th scope="col">Diretor</th>
    <th scope="col">Excluir</th>
    <th scope="col">Editar</th>
    </tr>
    </thead>
    <tbody>
    {% for filmes in filmes %}
    <tr>
    <td>{{ filmes.nome }}</td>
    <td>{{ filmes.duracao }}</td>
    <td>{{ filmes.sinopse }}</td>
    <td>{{ filmes.site_oficial }} </td>
    <td>{{ filmes.data_lancamento }}</td>
    <td>{{ filmes.nota_avaliacao }}</td>
    <td>{{ filmes.genero }}</td>
    <td>{{ filmes.pais }}</td>
    <td>{{ filmes.diretor }}</td>
    <td><a href="{% url 'delete' filmes.id %}" class="btn btn-danger">Excluir</a></td>
    <td><a href="{% url 'editar' filmes.id %}" class="btn btn-warning">Editar</a></td>     
    </tr>
    {% empty %}
    {% endfor %}
    </tbody>
    </table>
    </div>
    
<!-- Incluindo jQuery e Bootstrap JS -->
<script
src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popp
er.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.mi
n.js"></script>
</body>
</html>